* {
    margin: 0;
    font-family: "Quicksand";
    color: #3f4559;
    background-color:#f6fafd;
    
    
  }
  h1{
      color: #635afe;
      display: flex;
      justify-content: center;
  }

/* posts preview*/
.posts-list{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    
}
.post:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.post h2{
    font-size: 20px;
    color: #7c75f8;
    margin-bottom: 8px; 
}
.post{
    padding: 5px;
    margin: 25px;
}
/* navbar*/
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
    
}
.navbar .links{
    margin-left: auto;
}
.navbar a{
    margin-left:16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover{
    color:#7c75f8;
}