* {
    margin: 0;
    font-family: "Quicksand";
    color: #3f4559;
    background-color:#f6fafd;
    
    
  }
  h1{
      color: #635afe;
      display: flex;
      justify-content: center;
  }
/*posts-search*/
.posts-search{
    padding: 5px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
}
.posts-search h2{
    color: #635afe;
}
/* Create New Post*/
.NewPost{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.NewPost label{
    text-align: left;
    display: block;
}

.NewPost input, .NewPost textarea, .NewPost select{
    width: 100%;
    padding: 6px;
    margin: 10px 0;
    border: 1px solid white;
    box-sizing: boder-box;
    display: block;

}


/* posts preview*/
.posts-list{
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
    
}
.post:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
.post h2{
    font-size: 20px;
    color: #7c75f8;
    margin-bottom: 8px; 
}
.post{
    padding: 5px;
    margin: 25px;
}
/* navbar*/
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    border-bottom: 2px solid #f2f2f2;
}
.navbar .links{
    margin-left: auto;
    font-size: small;
    
}
.navbar a{
    margin-left:16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover{
    color:#7c75f8;
}



/* form css */
.navbar-container{
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
    
}

.navbar-register h2{
    font-size: 20px;
    color: #635afe;
    margin-bottom: 30px;
}

.navbar-container label{
    text-align: left;
    display: block;
}

.navbar-container input, .navbar-container textarea, .navbar-container select{
    width: 100%;
    padding: 6px 10 px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.navbar-container button{
background: #7c75f8;
color: #f2f2f2;
border-radius: 8px;
cursor: pointer;
}

/*Profile css*/

.profile input, .profile textarea, .profile select{
    width: 100%;
    padding: 6px 10 px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}
.profile {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.profile label {
    text-align: left;
    display: block;
}
.profile h2 {
    font-size: 20px;
    color: #7c75f8;
    margin-bottom: 30px;
    margin-top: 20px;
}
.profile button {
    background: #7c75f8;
color: #f2f2f2;
border-radius: 8px;
cursor: pointer;
}
/*Post options navbar*/
.postOptions{
    display: flex;
    justify-content: space-between;
}
.postOptions a {
    margin-left:auto;
    font-size: medium;
    text-decoration: none;
}
.postOptions a:hover{
    color:#7c75f8;
}
